h1{
    font-family: futura;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
    color: #49A078;

}

li{
    list-style: none;
    display: inline;
}

ul{
    text-align: center;
    display: inline;
    font-family: futura;
    margin: 0;
    padding: 0;
}

a{
    padding-left: 10px;
    color: #9CC5A1;
}
body{
    background-color: #F8F9F9;
}

nav{
    text-align: center;
    padding: 0;
    margin: 0;
}

P{
    font-family: futura;
    text-align: center;
    color: #1F2421;

}